openapi: 3.0.0
info:
  title: VUAMM - Nomina
  version: 1.0.0
servers:
  - url: https://vuamm.com.mx/dev/nomina/back
tags:
  - name: Catalogo - Conceptos
  - name: Catalogo - Tarifas
  - name: Catalogo - Prenomina
  - name: Quincenas
  - name: Empleados
paths:
  /api/v1/catalogo/tipoConceptos:
    get:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/tipoConceptos
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/conceptos:
    get:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/conceptos
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/concepto:
    post:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/concepto
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_tipo_concepto: 1
                concepto: Sueldo
                no_concepto: '1'
                id_clave_sat: 1
                clave: '521'
                graba_isr: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/clavesSat:
    get:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/clavesSat
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/concepto/1:
    put:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/concepto/:id_concept
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_tipo_concepto: 1
                concepto: Sueldo 2
                no_concepto: '1'
                id_clave_sat: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/concepto/:id_concept Copy
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/claveSat:
    post:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/claveSat
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                clave_sat: '2222'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/claveSat/3:
    put:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/claveSat/:id_clave_sat
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                clave_sat: '111'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Catalogo - Conceptos
      summary: catalogo/claveSat/:id_clave_sat
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/tarifasISR/2:
    put:
      tags:
        - Catalogo - Tarifas
      summary: catalogo/tarifasISR/:id_tarifa_isr
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                limite_inferior: 2
                limite_superior: 3
                cuota_fija: 30
                sobre_excedente: 20
                subsidio: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/tarifasISR/2024:
    get:
      tags:
        - Catalogo - Tarifas
      summary: catalogo/tarifasISR/2024
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/tarifasIsrAnios:
    get:
      tags:
        - Catalogo - Tarifas
      summary: catalogo/tarifasIsrAnios
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/tarifasISR:
    post:
      tags:
        - Catalogo - Tarifas
      summary: catalogo/tarifasISR
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                anio: 2024
                limite_inferior: 1
                limite_superior: 2
                cuota_fija: 20
                sobre_excedente: 20
                subsidio: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/1/empleado:
    delete:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/1/empleado
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/:id_de_prenomina/empleado
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_empleado: 2
                unidad: 1
                importe: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/1/empleados:
    get:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/:id_de_prenomina/empleados
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/empleado:
    post:
      tags:
        - Catalogo - Prenomina
      summary: /catalogo/prenomina/empleado
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_prenomina: 1
                id_empleado: 1
                unidad: 1
                importe: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/1/concepto:
    delete:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/:id_prenomina/concepto
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/:id_prenomina/concepto
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_proceso: 1
                id_concepto: 2
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/conceptos/1:
    get:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/conceptos/:id_proceso
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/catalogo/prenomina/concepto:
    post:
      tags:
        - Catalogo - Prenomina
      summary: catalogo/prenomina/concepto
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id_proceso: 1
                id_concepto: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/quincenas:
    get:
      tags:
        - Quincenas
      summary: quincenas
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/create/quincenas/2024:
    get:
      tags:
        - Quincenas
      summary: create/quincenas/:año
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/quincenas/2024:
    get:
      tags:
        - Quincenas
      summary: quincenas/:año
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/quincena/extraordinaria:
    post:
      tags:
        - Quincenas
      summary: quincena/extraordinaria
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                anio: 2024
                id_mes: 1
                mes: Enero
                dia_inicio: 1
                dia_fin: 15
                descripcion: Pago extra a panchito
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/empleados:
    get:
      tags:
        - Empleados
      summary: empleados
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}